.git
.github
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
.antigravityignore
tempdb/
downloads/
cache/
logs/
.vscode/
Procfile
app.json
heroku.yml
LICENSE
runtime.txt
setup
.gitignore
render.yaml
